{% extends 'debts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-12">

            <div class="text-small- text-muted mb-2">
                <a href="{% url 'home' %}">Home</a> /
                <span>
                    New Transaction
                    {% if transaction_mode == 'single' %} "@{{ debtors.username }}" {% else %} "Group" {% endif %}
                </span>
            </div>

            <form method="POST">

                {% csrf_token %}

                <input type="hidden" name="transaction_mode" value="{{ transaction_mode }}">

                {{ form|crispy }}


                {% if transaction_mode == 'single' %}

                    <div id="div_id_remarks" class="form-group">
                        <label for="id_remarks" class=" requiredField">
                            Transaction against <strong><u>{{ debtors.first_name}} {{ debtors.last_name }} (@{{ debtors.username }})</u></strong>
                        </label>
                        <input type="hidden" name="debtor_id" value="{{ debtors.id }}">
                    </div>

                {% else %}

                    <div id="div_id_remarks" class="form-group">
                        <label for="id_remarks" class=" requiredField">
                            Select Users <span class="asteriskField">*</span>
                        </label>

                        <div class="row">

                            <!--<select name="debtor_id" id="debtor_id" class="form-control select2" required multiple>
                                {% for debtor in debtors %}
                                    <option value="{{ debtor.id }}">{{ debtor.first_name }} {{ debtor.last_name }} @{{ debtor.username }}</option>
                                {% endfor %}
                            </select>-->





                            {% for debtor in debtors %}
                                <div class="col-md-12 mb-1">
                                <input type="checkbox" name="debtor_id" value="{{ debtor.id }}" id="debtor_id_{{ debtor.id }}">
                                <label for="debtor_id_{{ debtor.id }}">
                                    <strong>{{ debtor.first_name }} {{ debtor.last_name }} @{{ debtor.username }}</strong>
                                </label>
                                 </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
                <hr>

                <a href="{% url 'home' %}" class="btn btn-warning text-white">
                    <i class="fa fa-arrow-left"></i> Cancel
                </a>

                <button class="btn btn-info text-white" type="submit">
                    <i class="fa fa-save"></i> Save Transaction
                </button>

            </form>



        </div>
    </div>


{% endblock %}