{% extends 'debts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-12">

            <div class="text-small- text-muted mb-2">
                <a href="{% url 'home' %}">Home</a> /
                <a href="{% url 'profile' %}">Update Profile</a> /
                <span>Change Password</span>
            </div>

            <form method="POST">

                {% csrf_token %}

                {{ form|crispy }}


                <hr>

                <a href="{% url 'home' %}" class="btn btn-warning text-white">
                    <i class="fa fa-arrow-left"></i>Cancel
                </a>

                <button class="btn btn-info text-white" type="submit">
                    <i class="fa fa-save"></i> Update Password
                </button>

            </form>



        </div>
    </div>


{% endblock %}