body {
    background-color: #d9d9d9;
    font-family: 'Nunito', sans-serif;
    padding-top: 20px;
}

.header-bar {
    /*display: flex;*/
    /*justify-content: space-between;*/
    color: #fff;
    padding: 15px;
    min-height: 130px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(15deg, #EEA390 60%, #EB796F 43%, #EB796F 100%);
}

.footer {
    color: #fff;
    padding: 15px;
    border-top: 1px solid #d2d2d2;
    text-align: center
}

.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}


.main-content {
    border-radius: 5px 5px 0 0;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    padding: 0px;
}

.content-render{
    padding: 15px;
    margin-top: 20px !important;
    min-height: 500px;
    /*max-height: 600px;*/
    overflow-y: auto;
}

.debtor{
    /*border-bottom: 1px solid #eeeeee;*/
    padding: 10px;
    padding-bottom: 20px !important;
    margin-bottom: 15px;
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
.debtor:hover {
    /*border: 1px solid #eeeeee;*/
}

.debtor a{
    color: #555353;
    text-decoration: none
}

.debtor .btn:hover{
    color: #fff !important;
}

.text-right{
    text-align: right;
}

.debtor-alt {
    /*background-color: #eeeeee*/
}

.text-small{
    font-size: 12px;
}

#div_id_password{
    margin-top: 40px;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.form-group{
    margin-bottom: 20px;
}

.asteriskField{
    color: red;
    padding-left: 3px;
}
